ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=1500

DB_HOST=db
DB_PORT=5432
DB_USER=core_user
DB_PASS=core_password
DB_NAME=core_db

CREATE_INITIAL_ADMIN=True
INITIAL_ADMIN_PHONE=+79990000000
INITIAL_ADMIN_PASSWORD=password
INITIAL_ADMIN_NAME=Администратор
